.result {
    width: 79%;
height: 300px;
margin: 0 auto;
padding: 10px;
border-radius: 14px;
background-color: white;
}

.desc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* padding-bottom: 0.8rem; */
    line-height: 1.8em;
}