.autoComplete {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -20px;
}
.autoComplete .comp div {
    width: 100%; 
    position: relative;
    border-bottom: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.712);
    font-family: Roboto;
    padding: .6em  8px .6em 10px;
}
.autoComplete .comp {
    width: 45%; 
    position: relative;
}
.autoComplete .comp div:hover {
    background-color: #0662a3;
    color: white;
}
.space {
    position: relative;
    width: 81.65px;
}
