.autoComplete {
   display: flex;
    justify-content: center;
    /* margin-left: 27px; */
}
.autoComplete .comp div {
    width: 100%; 
   border-radius: 4px;
    background: rgba(255, 255, 255, 0.712);
    font-family: Roboto;
    padding: .6em  10px .6em 9px;
}
.autoComplete .comp {
   width: 45%;
   margin-right: -48px;
}
.autoComplete .comp div:hover {
    background-color: #01756C;
   color: white;
}
.space {
   width: 92.38px;
}
